
@{
    ViewBag.Title = "IndexAr";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}

@model List<CustomerService.ViewModel.FAQViewModel>

<div class="">
    <!-- CATEGORIES -->
    <div class="row m-0 bg-dark p-2">
        @foreach (var item in ViewBag.cat)
        {
            <div class="col-sm">

                <form method="get" action="@Url.Action("GetQuestionbyCatAr","faq")">
                    <div class="col-sm">
                        <input type="text" id="catid" name="catid" value="@item.Id" hidden />
                        <button type="submit" id="@item.Id" data-topass="@item.Id" class="btn btn-outline-light btn-block p-2 cat">
                            <h5><i class="fas fa-users mr-2"></i>@item.NameAr</h5>
                        </button>
                    </div>
                </form>
            </div>
        }


        <div class="col-sm ">
            <div class="row mt-1 form-inline ">
                <form method="get" action="@Url.Action("IndexAr", "faq")">
                    <input type="text" placeholder="ابحث عن سؤال؟" class="form-control p-2 mr-2" name="search" id="search" />
                    <button type="submit" class="btn btn-warning p-2"><i class="fa fa-search"></i> بحث</button>
                </form>
            </div>

        </div>
    </div>
    <!-- END CATEGORIES -->
    <div class="row m-0 p-0">


        <div class="col-sm-12 quest">
            <!-- FAQ HEADER -->
            <div class="bg-white card-header my-3 ">
                <div class="container">
                    <h5 style="font-weight: bold;text-align:center">الأسألة الاكثر تداول<i class="fas fa-question-circle fa-lg mr-2"></i></h5>
                </div>
            </div>
            <!--END FAQ HEADER -->
            <!-- FAQ ACCORDION -->
            <div id="accordion">
                @foreach (var item in Model)
                {

                    <!-- QUESTION CARD-->
                    <div class="bg-white mb-4" id="quest">
                        <!-- QUESTION -->
                        <div>

                            <div class="card-header bg-white">
                                <div>
                                    <h5 class="mb-0">
                                        <button data-topass="@item.Qid" class="btn btn-xl btn-block question" style="background-color: white;text-align: left;color: #989FA5;"
                                                role="button">
                                            <div class="d-flex flex-row-reverse">
                                                <h6 class="mr-auto"><i class="fas fa-chevron-circle-down fa-lg"></i></h6>
                                                <h6 >@item.QName<i class="far fa-question-circle mr-2 fa-lg"></i></h6>
                                                
                                            </div>
                                        </button>
                                    </h5>

                                </div>
                            </div>
                        </div>
                        <!--END QUESTION -->
                        <!-- ANSWER -->

                        <div class="collapse" style="text-align:right" id="@("a"+item.Qid)">
                            <ul class=" container list-unstyled ">
                                @foreach (var answer in item.Answers)
                                {
                                    var text = answer.Replace(".", "<br><i style='color: #E0A800;' class='fas fa-angle-double-right fa-lg mr-1'></i>");
                                    <li class="py-2"><h5><i style="color: #E0A800;" class="fas fa-angle-double-left fa-lg mr-1"></i>@Html.Raw(HttpUtility.HtmlDecode(text))</h5></li>
                                }
                            </ul>
                        </div>
                        <!--END ANSWER -->

                    </div>
                    <!--END QUESTION CARD -->
                    <!-- end one branch -->
                }



                <!--END FAQ ACCORDION -->

            </div>
        </div>
    </div>
    <script>

    </script>
    @Html.Partial("_AJAXPartialView")


